<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= title() %></title>
    <meta content="<%= og_type() %>" property="og:type"/>
    <meta content="<%= og_site_name() %>" property="og:site_name"/>
    <meta content="<%= og_title() %>" property="og:title"/>
    <meta content="<%= og_description() %>" property="og:description"/>
    <meta content="<%= og_image() %>" property="og:image"/>
    <meta content="<%= og_image_width() %>" property="og:image:width"/>
    <meta content="<%= og_image_height() %>" property="og:image:height"/>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
